/* fonts */

@font-face {
    font-family: pingfang;
    src: url('../fonts/PingFangRegular.ttf');
    /*这里是字体文件路径*/
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: 'pingfang';
}



/* fonts */

.w-1000 {
    width: 1000px;
    margin: 0 auto;
    font-family: 'pingfang'
}

.resume-theme-velvet {
    padding: 1rem 1.5rem;
    color: #2c3840;
}

.resume-theme-velvet .menu,
.resume-theme-velvet .top-bar {
    background: #2c3840;
}

.resume-theme-velvet .menu-text {
    color: #fff;
}

.important-text {
    margin-right: 10px;
}

.resume-theme-velvet .menu-text span {
    font-weight: 300;
}

.resume-theme-velvet .menu-text h1 {
    font-weight: 300;
    letter-spacing: 0.05em;
    font-family: 'pingfang';
}

.background-intro {
    background: #e1e1e1;
}


/* skill section */

.block-skill ul,
.block-skill li {
    list-style: none;
    margin: 0;
}

.block__head {
    padding: 15px 15px 0 15px;
}

.block__head>h1 {
    letter-spacing: 0.08em;
    font-size: 24px;
    font-weight: 700;
    color: #2c3840;
}

.skill-title {
    padding: 16px;
    background: #e1e1e1;
}

.skill-title>h1 {
    font-size: 18px;
}

.skill-title-js {
    background: #F58F6E;
}


.block-skill .skill-list {
    margin-bottom: 50px;
}

.skill-listitem {
    padding-left: 15px;
}

.skill-listitem__name {
    font-size: 0.8rem;
    color: #2c3840;
    letter-spacing: 0.03em;
}

.skill-listitem__name>.label {
    margin-right: 8px;
}

.skill-listitem__name:first-letter {
    font-size: 14px;
    font-weight: 700;
}

.skill-listitem__mastery {
    margin-right: 15px;
}


/* skill ----- overview */

.skill-overview {
    padding: 5px 15px;
}

.skill-overview>h6:before {
    content: "";
    width: 5px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    background: #1779ba;
}

.skill-overview>ul {
    margin-bottom: 15px;
}

.skill-overview>ul>li {
    margin-bottom: 5px;
    padding: 10px;
    background: #cacaca;
    font-size: 12px;
    color: #2f2323;
    font-weight: 400;
}

.skill-overview strong {
    text-decoration: underline;
        font-weight: 600;
}


/* main sec */


/* education sec */

.education {}

.project-intro {
    padding-left: 20px;
    padding-top: 10px;
}

.project-intro__block {
    margin-bottom: 40px;
}



.section-title {
    font-size: 26px;
    font-weight: 700;
    color: #1779ba;
    letter-spacing: 0.05em;
}

.section-title:before {
    content: "";
    width: 20px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    margin-right: 10px;
    background: #1779ba;
}

.section-title .subheader {
    padding-left: 2px;
    font-size: 24px;
    vertical-align: middle;
    letter-spacing: 0em;
}

.education-item {
    font-size: 16px;
    margin-bottom: 0;
    vertical-align: bottom;
    letter-spacing: 0.05em;
}

.education-item__major {
    font-weight: 600;
}

.education-item__school {
    font-size: 14px;
    font-weight: 300;
}

.education-item__city {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 300;
}

.education-item__duration {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

.education ul,
.education li {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}



/* work experience */

.workex-item {
    list-style: none;
    margin-bottom: 40px;
    margin-top: 10px;
}


.workex-item__title {
	margin-left:10px;
	font-size: 16px;
    font-weight: 600;
    vertical-align: bottom;
    letter-spacing: 0.05em;
}

.workex-item__employeer{
    float:right;
    font-size: 14px;
    font-weight: 300;
}


.workex-item__job-description{
	margin-top:5px;
	overflow: auto;
}

.workex-item__job-description > .title{
	font-size: 16px;
	font-weight: 600; 
	letter-spacing: 0.06em;
	float:left;
}

.workex-item__job-description > .desc{
	font-size: 14px;
	line-height: 25px;
	font-weight: 300;
	float:left;
}


.workex-item__duration {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1em;

}

.work-experience ul {
    margin-left: 0;
    padding-left: 0;
}


/* projects */

.project-list{
	margin-left:0;

}
.project-item{
	list-style: none;
	font-weight: 300;
	margin-bottom: 40px;
}

.project-item__head{
	margin-bottom: 10px;
}

.project-item__name{
	font-size: 18px;
	font-weight: 600;
}
.project-item__client{
	margin-left:30px;
}

.project-item__duration {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 28px;
    margin-right:20px;
    
}

.project-item__technology{
	margin-bottom: 10px;
}

.project-item__technology .label{
	margin-right:5px;
	margin-bottom: 5px;
}

.project-item__technology .title{
	font-weight: 600;
	letter-spacing: 0.05em;
}

.project-item__intro{
	margin-bottom: 10px;
}

.project-item__intro > .title{
	font-weight: 600;
}

.project-item__short-desc{
	font-size: 14px;
	
}

.project-item__short-desc .label{
	margin-bottom: 5px;
}

.contact__wechat > img{
	height: 100px;
    margin-right: 10px;
}

.contact__other{
	color: #fff;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.contact__other > h2{
	font-size: 14px;
	text-align: right;
	margin-bottom: 0;
	font-weight: 300;
	color: #ced5dc;
}